html {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0%;
    overflow-y:auto;
}

.hero-image {
    background-image: url(../images/flightinstrumentscockpit_aviationsixpack.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size:cover; 
}

.hero-body {
    height: 300px;
}

.content {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    
}

