/* MAKE LANDING PAGE RESPONSIVE */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
  height: 100%;
  margin: 0%;
  background-color: black;
  background-image: url("../images/PngItem_5633388.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
  overflow-y: auto;
  justify-content: center;
    align-items: center;
   
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
      
}
body {
    margin: 0;
}


#title {
    text-align: center;
}


#subHead {
  font-stretch: extra-expanded;
  font-family: "Rubik", sans-serif;
  font-size: 3vw;
  color: white;
  padding-top: 1rem;
  text-align: center;
}


#button {
    text-align: center;
    position: static;
 
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }



  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  

a {    
    background-color: transparent;
    align-content: center;
    display: inline-block;
    padding: 25px 30px;
    margin-top: 70vh;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
  
   
}


a:hover{
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #ffffff;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ffffff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ffffff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit; /* 1 */
      font-size: 100%; /* 1 */
      line-height: 1.15; /* 1 */
      margin: 0; /* 2 */
    }


    button,
input { /* 1 */
  overflow: visible;


  button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }